In [70]:
import pandas as pd
import numpy as np

df = pd.read_csv('movie_sample_dataset.csv')
df['color']=df['color'].str.title()
df.head()

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,Color,Martin Scorsese,240,116866727.0,Biography|Comedy|Crime|Drama,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,Color,Shane Black,195,408992272.0,Action|Adventure|Sci-Fi,Iron Man 3,2013,English,USA,200000000.0,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,Color,Quentin Tarantino,187,54116191.0,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
3,Color,Kenneth Lonergan,186,46495.0,Drama,Margaret,2011,English,usa,14000000.0,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,Color,Peter Jackson,186,258355354.0,Adventure|Fantasy,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000

In [62]:
#menghilangkan tanda negatif
df['duration']=df['duration'].abs()
df['imdb_score']=df['imdb_score'].abs()
#cek banyaknya missing value pada masing-masing kolom
df.replace(["","N/A","Null"], np.nan, inplace = True)
print(df.isnull().sum())

color                   11
director_name           12
duration                 0
gross                    8
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   4
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

In [36]:
#replace missing data color dengan modus
mode_color=df['color'].mode()[0]
print("Mode of Color:",mode_color)
df['color'].replace(np.nan, mode_color, inplace=True)

Mode of Color: Color

/tmp/ipython-input-3333263334.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['color'].replace(np.nan, mode_color, inplace=True)

In [37]:
#replace missing data director name dengan modus
mode_director=df['director_name'].mode()[0]
print("Mode of director:",mode_director)
df['director_name'].replace(np.nan, mode_director, inplace=True)

Mode of director: Ridley Scott

/tmp/ipython-input-3829009597.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['director_name'].replace(np.nan, mode_director, inplace=True)

In [38]:
#drop missing data gross by row
df.dropna(subset=["gross"], axis=0, inplace=True)

In [39]:
print(df[["genres","director_name","movie_title"]][df["genres"].isnull()])
print(df["genres"][df['director_name']=='Christopher Spencer'].value_counts())
print(df["genres"][df['movie_title']=='Son of God'].value_counts())

   genres        director_name movie_title
12    NaN  Christopher Spencer  Son of God
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)

karena tidak ada nama direktor dan judul film serupa maka tidak jadi replace data genres by frequency

In [40]:
#replace missing data genres dengan modus
mode_genres=df['genres'].mode()[0]
print("Mode of genres:",mode_genres)
df['genres'].replace(np.nan, mode_genres, inplace=True)

Mode of genres: Action|Adventure|Sci-Fi

/tmp/ipython-input-3982844247.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['genres'].replace(np.nan, mode_genres, inplace=True)

In [41]:
#drop missing data budget by row
df.dropna(subset=["budget"], axis=0, inplace=True)

In [42]:
df.dtypes

color                    object
director_name            object
duration                  int64
gross                   float64
genres                   object
movie_title              object
title_year                int64
language                 object
country                  object
budget                  float64
imdb_score              float64
actors                   object
movie_facebook_likes      int64
dtype: object

In [74]:
df.to_csv('movie_dataset_cleaned.csv',index=True)
from google.colab import files
files.download('movie_dataset_cleaned.csv')